<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>Label</key><string>hoststool</string>

<key>ProgramArguments</key>
<array>
  <string>/usr/local/bin/hoststool</string>
  <string>-u</string>
</array>

<key>RunAtLoad</key>
<true/>

<key>StartInterval</key>
<integer>3600</integer>

<key>StandardOutPath</key>
<string>/Library/Logs/hoststool.log</string>

<key>StandardErrorPath</key>
<string>/Library/Logs/hoststool.log</string>

</dict>
</plist>
